<header class="bg-primary-light text-white p-3 mb-4">
   <div class="container d-flex justify-content-between align-items-center">
     <h3 class="mb-0">Site Name</h3>
     <nav>
       <ul
         class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm"
         style="
           --bs-nav-link-color: var(--bs-white);
           --bs-nav-pills-link-active-color: var(--bs-primary);
           --bs-nav-pills-link-active-bg: var(--bs-white);
         "
       >
         <li class="nav-item" role="presentation">
           <a class="nav-link text-white rounded-5" href="/">Home</a>
         </li>
         <li class="nav-item" role="presentation">
           <a class="nav-link text-white rounded-5" href="/customers"
             >Customers</a
           >
         </li>
         <li class="nav-item" role="presentation">
           <a class="nav-link text-white rounded-5" href="/matches"
             >Matches</a
           >
         </li>
         <li class="nav-item" role="presentation">
           <a class="nav-link text-white rounded-5" href="/matchTickets"
             >Match Tickets</a
           >
         </li>
         <li class="nav-item" role="presentation">
           <a class="nav-link text-white rounded-5" href="/orders">Orders</a>
         </li>
         <li class="nav-item" role="presentation">
           <a class="nav-link text-white rounded-5" href="/seats">Seats</a>
         </li>
       </ul>
     </nav>
   </div>
 </header>