<h1>Home page</h1>
<div class="homepageDescription">
    <form action="/reset-db" method="POST">
        <button type="submit">Reset Database</button>
    </form>
    <p>Eighty-FC Ticketing System Devloped by Joshua and Kevin</p>
</div>