<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/matches"> Matches</a>
        <a href="/orders"> Orders</a>
        <a href="/seats">Seats</a>
        <a href="/matchTickets">Match Tickets</a>
    </nav>

    {{{body}}}

</body>
</html>